  #map {
    height: 83%;
    border: 16px solid green;
  }

  html, body {
    height: 83%;
    margin: 0;
    padding: 0;
    background-color: #98FB98
  }

  h2 {
    text-align: center;
    font-family: Helvetica
  }

  h3:first-letter {
    font-size: 375%;
  }

  #worker_count, #order_count {
    color: green;
    font-size: 250%;
  }

  table, th, td {
    border: 1px solid black;
  }

  p {
    font-size: 375%;
    text-align: center;
  }
